# polza.ai
POLZAAI_BASE_URL="https://api.polza.ai/api/v1"
POLZAAI_API_KEY=

# vsellm.ru
VSELLM_BASE_URL="https://api.vsellm.ru/v1"
VSELLM_API_KEY=

# openrouter
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"
OPENROUTER_API_KEY=

# gradio auth credits
GRADIO_USERNAME="sber"
GRADIO_PASSWORD=
